<div id='old-page-header' class='ui-widget-header ui-corner-top'>
  <div class='old-page-header-title'><%= headerTitle %></div>
  <div class='old-page-header-widgets'>
    <button class="edit">Edit</button>
    <button class="view">View</button>
    <button class="save">Save</button>
  </div>
</div>
<div id='old-page-body'></div>

