<div id='old-page-header' class='ui-widget-header ui-corner-top'>
    <div class='old-page-header-title'><%= headerTitle %></div>
    <div class='old-page-header-widgets'></div>
</div>

<div id='old-page-body'></div>

