<div id='dative-page-header' class='ui-widget-header ui-corner-top'>
  <div class='dative-page-header-title'>
    Browse (<%= paginator.itemCount %> forms, <%=paginator.pageCount %> pages)
  </div>
  <div class='dative-page-header-widgets'></div>
</div>
<div id='dative-page-body'>
  <div class='dative-pagin-items'></div>
  <div class='dative-pagin-nav dative-pagin-nav-bottom'></div>
</div>


