<ul class="sf-menu">
    <li><a >Dative</a>
        <ul>
            <li><a data-event="request:systemSettings">System Settings</a>
            </li>
            <li><a data-event="request:home" data-shortcut="ctrl+h">Home</a>
            </li>
            <li><a data-event="request:pages" data-shortcut="ctrl+p">Pages</a>
            </li>
        </ul>
    </li>
    <li><a data-event="request:formsBrowse">Forms</a>
        <ul>
            <li><a data-event="formAdd"
                   data-shortcut="ctrl+a">Add</a></li>
            <li><a data-event="request:formsSearch"
                   data-shortcut="ctrl+s">Search</a></li>
            <li><a data-event="request:formsBrowse"
                   data-shortcut="ctrl+b">Browse</a></li>
            <li><a data-event="request:quickSearch">Quicksearch</a></li>
        </ul>
    </li>
    <li><a data-event="request:filesBrowse">Files</a>
        <ul>
            <li><a data-event="request:fileAdd">Add</a></li>
            <li><a data-event="request:filesSearch">Search</a></li>
            <li><a data-event="request:filesBrowse">Browse</a></li>
        </ul>
    </li>
    <li><a data-event="request:collectionsBrowse">Collections</a>
        <ul>
            <li><a data-event="request:collectionAdd">Add</a></li>
            <li><a data-event="request:collectionsSearch">Search</a></li>
            <li><a data-event="request:collectionsBrowse">Browse</a></li>
        </ul>
    </li>
    <li><a data-event="request:analysis">Analysis</a>
        <ul>
            <li><a data-event="request:phonology">Phonology</a></li>
            <li><a data-event="request:analyzedWordsCorpus">
                Analyzed Words Corpus</a></li>
            <li><a data-event="request:morphotactics">Morphotactics</a></li>
            <li><a data-event="request:morphophonology">
                Morphophonology</a></li>
            <li><a data-event="request:morphologicalProbabilityCalculator">
                Morphological Probability Calculator</a></li>
            <li><a data-event="request:morphologicalParser">
                Morphological Parser</a></li>
        </ul>
    </li>
    <li><a data-event="request:browseDictionary">Dictionary</a>
        <ul>
            <li><a data-event="request:dictionarySetup">Setup</a></li>
            <li><a data-event="request:dictionarySearch">Search</a></li>
            <li><a data-event="request:dictionaryBrowse">Browse</a></li>
        </ul>
    </li>
    <li><a data-event="request:browsePeople">People</a>
        <ul>
            <li><a data-event="request:viewSpeakers">Speakers</a>
                <ul>
                    <li><a data-event="request:viewSpeakers">View</a></li>
                    <li><a data-event="request:addSpeaker">Add</a></li>
                </ul>
            </li>
            <li><a data-event="request:viewUsers">Users</a>
                <ul>
                    <li><a data-event="request:viewUsers">View</a></li>
                    <li><a data-event="request:addUser">Add</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a >Tags</a>
        <ul>
            <li><a >Keywords</a>
                <ul>
                    <li><a >View</a></li>
                    <li><a >Add</a></li>
                </ul>
            </li>
            <li><a >Syntactic Categories</a>
                <ul>
                    <li><a >View</a></li>
                    <li><a >Add</a></li>
                </ul>
            </li>
            <li><a >Elicitation Methods</a>
                <ul>
                    <li><a >View</a></li>
                    <li><a >Add</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a >Sources</a>
        <ul>
            <li><a >Add</a></li>
            <li><a >Browse</a></li>
        </ul>
    </li>
    <li><a >Help</a>
        <ul>
            <li><a >Help Page</a></li>
            <li><a >OLD User Guide</a></li>
        </ul>
    </li>
    <li><a >Account</a>
        <ul>
            <li><a >My Page</a>
                <ul>
                    <li><a >View</a></li>
                    <li><a >Edit</a></li>
                </ul>
            </li>
            <li><a >My Settings</a>
                <ul>
                    <li><a >View</a></li>
                    <li><a >Edit</a></li>
                </ul>
            </li>
            <li><a >My Memory</a></li>
            <li><a data-event="request:openLoginDialogBox"
                   data-shortcut="ctrl+l">Login</a></li>
        </ul>
    </li>
</ul>
<a  class="old-authenticated"></a>

