<div class="old-page-name"><%= name %></div>

<% if (html) { %>
    <%= html %>
    <div>ggg html</div>
<% } else { %>
    <div class="old-page-content">X<%= content %></div>
    <div>fff html</div>
<% } %>

