@font-face
{
    font-family: GentiumPlus;
    src: url(./fonts/GentiumPlus-R.woff);
}

@font-face
{
    font-family: GentiumPlus;
    font-style: italic;
    src: url(./fonts/GentiumPlus-I.woff);
}

body
{
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    margin: 0;
    font-size: 12px;
}

div.mainmenu,
div#mainmenu
{
    width: 100%;
    height: 24px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    top: 0;
    z-index: 100;
    white-space: nowrap;
    font-size: 15px;
    position: relative;
}

#dative-client-app
{
}

#appview
{
    margin: 10px auto;
    width: 900px;
}

#dative-page-body
{
    margin: 10px;
    overflow: hidden;
    position: relative;
}

.ui-widget {
    font-size: 100%;
}

.dative-help,
.dative-authenticated
{
    width: 16px;
    height: 16px;
    margin-top: 3px;
    bottom: 0.25em;
}

button.help-button
{
    width: 20px;
    height: 20px;
}

#dative-page {
    margin: 40px auto 15px auto;
    width: 900px;
}

#dative-page-header,
#dative-page-header.dative-two-part-header > div.dative-forms-view-header,
.dative-widget-header {
    font-weight: normal;
    text-align: center;
    border: 0 none;
    border-bottom: solid 1px grey;
    padding: 5px 10px;
    height: 31px;
    /* TEST */
    position: relative;
}

#dative-page-header.dative-two-part-header > div.dative-forms-view-header
{
    border-bottom: none;
}

#dative-page-header.dative-two-part-header
{
    height: 75px;
    padding: 0;
}

.dative-pagination-menu-top
{
  width: 900px;
  position: absolute;
  left: 0%;
  bottom: 25%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  padding-left: 0px 5px;
}

.dative-widget-header button,
.dative-widget-header select+div,
#dative-page-header button,
#dative-page-header select+div {
    margin: 1px;
}
.dative-page-header-title {
    font-size: 13px;
}
.dative-forms-actions {
    text-align: left;
    margin-top: 5px;
}

.dative-form-widget
{
    font-size: inherit;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    position: relative;
    top: -11px;
    display: block;
}

.form-secondary-data div.dative-tooltip,
.form-secondary-data span.dative-tooltip,
.form-igt-data div.dative-tooltip,
.form-igt-data span.dative-tooltip,
.form-translations-data div.dative-tooltip,
.form-translations-data span.dative-tooltip,
.dative-field-label.dative-tooltip
{
    cursor: pointer;
}

.dative-field-validation-container
{
  display: inline-block;
  width: 0%;
}

.dative-field-label-container
{
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.update-form-widget .dative-field-label-container
{
  width: 35%;
}

.dative-field-subinput-container
{
  display: inline-block;
  width: 100%;
  margin-bottom: 0.4em;
}

.dative-field-input-container
{
  display: inline-block;
  width: 60%;
}

.update-form-widget .dative-field-input-container
{
  width: 50%;
}

.form-secondary-data-content .form-fielddb-comment:not(:first-child)
{
  margin-top: 0.5em;
}

ul.sf-menu li a
{
    cursor: default;
}

.dative-form-secondary-data ,
.form-secondary-data {
    font-size: 11px;
    padding: 10px 0;
}

.dative-form-object > .dative-widget-body
{
    padding: 10px;
}

.dative-form-object
{
    border-width: 1px;
    border-style: solid;
}

.dative-forms-view-one-interface .dative-widget-body,
.dative-forms-browse-interface .dative-widget-body {
    position: relative;
    padding: 10px;
}
.dative-form-secondary-data-label,
.form-secondary-data-label,
.form-igt-data-label,
.form-translations-data-label,
.form-translation-data-label
{
    display: inline-block;
    width: 30%;
    text-align: right;
    margin-right: 10px;
    vertical-align: top;
}

.dative-form-secondary-data-content ,
.form-secondary-data-content,
.form-igt-data-content,
.form-translations-data-content,
.form-translation-data-content
{
    display: inline-block;
    width: 65%;
    font-family: 'GentiumPlus', serif;
}
.dative-form-secondary-data > div ,
.form-secondary-data > div {
    margin: 5px 0;
}
.dative-pagin-items {
    padding: 0 40px 39px 40px;
}
.dative-pagin-nav-bottom {
    position: absolute;
    bottom: 0;
    width: 880px;
    height: 39px;
}
.dative-pagin-nav,
.dative-page-header-widgets,
.dative-widget-header-buttons
{
    text-align: center;
    margin-top: 5px;
    height: 31px;
}
div.dative-widget-header-title,
div.dative-page-header-title
{
    display: inline-block;
    position: absolute;
    /*top: 15px;*/
    /*width: 100px;*/
}
.dative-pagin-ipp {
    margin: 10px 0;
    text-align: center;
}
.dative-pagin-item {
    font: inherit;
    color: inherit;
    padding: 10px 0;
    margin: 12px;
}
.dative-pagin-item-index {
    vertical-align: top;
    padding-right: 10px;
}

.dative-pagin-item-index-cell {
    min-width: 5em;
    vertical-align: top;
    padding-top: 1em;
}

.dative-pagin-item-content {
    width: 700px;
}
#spinner {
    position: fixed;
    top: 35px;
    left: 10px;
}
.template,
.invisible {
    display: none;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.dative-val-err-widget {
    width: 16px;
    display: inline-block;
    cursor: pointer;
}

.dative-explanation {
    max-width: 200px;
    overflow-y: auto;
    padding: 5px;
    z-index: 2000;
}

.dative-add-user-failed-container,
.dative-create-corpus-failed-container,
.dative-validation-container
{
    position: absolute;
}

.dative-add-user-failed,
.dative-create-corpus-failed
{
    position: relative;
    z-index: 100;
    display: inline-block;
    max-width: 200px;
}

.dative-add-user-failed,
.dative-create-corpus-failed
{
    top: -26px;
    left: 411px;
}

.dative-add-user-failed,
.dative-create-corpus-failed,
.dative-login-dialog-widget .dative-login-failed,
.dative-register-dialog-widget .dative-register-validation,
.dative-register-validation {
    padding: 5px;
}

.dative-login-dialog-widget,
.dative-register-dialog-widget,
.dative-help-dialog-widget,
#appview,
.progress-widget,
.notifier,
.corpus-widget,
.create-corpus-widget,
.users-widget,
.dative-user-widget,
.dative-add-user-widget,
.servers-config-widget,
.server-config-widget,
.add-user-widget,
.edit-corpus-widget,
.add-form-widget,
.update-form-widget,
.dative-form-object.expanded
{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.dative-form-object.expanded:focus
{
    /*outline: none !important;*/
    /*box-shadow: 0 0 10px orange !important;*/
    box-shadow: 5px 5px 10px rgba(255, 165, 0, 0.5) !important;
    -webkit-box-shadow: 5px 5px 10px rgba(255, 165, 0, 0.5) !important;
    -moz-box-shadow: 5px 5px 10px rgba(255, 165, 0, 0.5) !important;
}

div.heading {
}

div.dative-widget-center {
    margin: 0 auto;
}
span.dative-triangle-icon,
.dative-icon {
    position: absolute;
}

/*** Form input styles ***/

ul.fieldset {
    margin: 0 auto;
    /*display: inline-block;*/
    list-style-type: none;
    padding: 15px;
    margin-top: 0;
    position: relative;
    font-size: 12px;
}

ul.fieldset.button-only-fieldset
{
    margin-top: -1em;
    padding-top: 0;
    padding-bottom: 5px;
}

.formAddForm ul.fieldset {
    width: 868px;
}

ul.fieldset li {
    padding: 0 0 6px;
    position: relative;
}

ul.fieldset label {
    padding: 8px 3px 1px 0;
    text-align: right;
    vertical-align: top;
    font-size: 12px;
}

div.form-add-form ul.fieldset label,
.formAdd ul.fieldset label
{
    min-width: 90%;
    max-width: 90%;
    width: 90%;
    padding-right: 2%;
    float: right;
    text-align: right;
}

.applicationSettingsForm ul.fieldset label {
    width: 144px;
}
.server-config-widget ul.fieldset label {
    width: 75px;
}

.create-corpus-widget ul.fieldset label,
.add-user-widget ul.fieldset label,
.edit-corpus-widget ul.fieldset label
{
    width: 80px;
}

.dative-login-dialog ul.fieldset label
{
    width: 6em;
}

.dative-login-dialog ul.fieldset input
{
    width: 15em;
}

.registerForm ul.fieldset label
{
    width: 10em;
}

.fieldset label,
.fieldset input[type="text"],
.fieldset input[type="password"],
.fieldset input[type="checkbox"],
.fieldset select.grammaticality,
.fieldset input.judgement,
.fieldset button,
.fieldset textarea
{
    display: inline-block;
}

.fieldset select.grammaticality,
.fieldset input.judgement
{
  width: 5%;
}

.fieldset input.judgement
{
  vertical-align: top;
}


.dative-form-object:not(.expanded):focus,
.ui-selectmenu-button:focus,
.ui-button:focus,
.ms-list:focus,
input:focus,
textarea:focus {
    outline: none !important;
    box-shadow: 0 0 10px orange !important;
}

div.dative-display {
  display: inline-block;
}
ul.fieldset textarea,
ul.fieldset select[name="elicitation_method"],
ul.fieldset select[name="syntactic_category"],
ul.fieldset select[name="speaker"],
ul.fieldset select[name="elicitor"],
ul.fieldset select[name="verifier"],
ul.fieldset select[name="source"] {
    padding: 7px 10px 5px 10px;
}
ul.fieldset input[type="text"],
ul.fieldset input[type="password"] {
    margin-left: 0;     /*Chrome adds a 2px margin at left and right*/
    margin-right: 0;
    padding: 6px 10px 6px 10px;
}

/*ul.fieldset textarea,*/
div.applicationSettingsForm input,
div.dative-display
{
    width: 526px;
    max-width: 526px;
    min-width: 526px;
}

ul.fieldset textarea.textarea-only,
textarea.textarea-only
{
  width: 94.1%;
  max-width: 94.1%;
  min-width: 94.1%;
}


ul.fieldset textarea.textarea-select-button,
textarea.textarea-select-button
{
  width: 76.5%;
  /* max-width: 76.5%;
  min-width: 76.5%; */
}

ul.fieldset textarea.textarea-button,
textarea.textarea-button
{
  width: 87%;
}

ul.fieldset textarea.textarea-select,
textarea.textarea-select
{
  width: 84%;
  /* max-width: 85%;
  min-width: 85%; */
}

ul.fieldset textarea.textarea-input,
textarea.textarea-input
{
  width: 83.5%;
}

ul.fieldset input.judgement,
input.judgement
{
  width: 5%;
}

ul.fieldset label.dative-field-label,
label.dative-field-label
{
  width: 25%;
  max-width: 25%;
  min-width: 25%;
}

ul.fieldset select[name="elicitation_method"],
ul.fieldset select[name="syntactic_category"],
ul.fieldset select[name="speaker"],
ul.fieldset select[name="elicitor"],
ul.fieldset select[name="verifier"],
ul.fieldset select[name="source"],
ul.fieldset select[name="corpus"],
ul.fieldset select[name="serverType"],
ul.fieldset select[name="activeServer"] {
    width: 548px;
    max-width: 548px;
    min-width: 548px;
}
ul.fieldset select[name="tags"]+button {
    padding: 0px 0px 3px 9px;
}

ul.fieldset select+div, /* div siblings of selects are jquery.ui.selectmenu creatures */
.dative-forms-browse-interface select+div,
button.append-translation-field,
button.remove-translation-field,
button.removeMe,
button.new-remove,
input[type="submit"],
button {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    height: 29px;
}

li.center {
    text-align: center;
}

li.newTranslation span.ui-selectmenu-button,
li.newTranslation textarea,
li.newTranslation button {
    margin-left: 3px;
}

span.ui-selectmenu-button {
    vertical-align: top;
    height: 28px;
}

li.newTranslation div {
    margin-left: 3px;
}

div.ui-selectmenu-menu li a {
    min-height: 18px;
    font-size: 12px;
}

ul.fieldset textarea.utterance,
ul.fieldset textarea.transcription
{
  /*
    width: 473px;
    max-width: 473px;
    min-width: 473px;
    */
}

ul.fieldset textarea.translation:not(.singular-translation)
{
  /*
    width: 441px;
    max-width: 441px;
    min-width: 441px;
    */
}

ul.fieldset select,
ul.fieldset input,
ul.fieldset textarea,
ul.fieldset button.ui-multiselect
{
    font-family: inherit;
    font-size: 12px;
}

ul.fieldset a.grammaticality,
ul.fieldset a.ui-selectmenu,
ul.fieldset button.ui-multiselect
{
    height: 29px;
    font-size: 13px;
}

button.ui-multiselect {
    position: relative;
    top: 1px;
}

.dative-form-transcription,
.form-primary-data .transcription,
.italic {
    font-style: italic;
}

/* reStructuredText-generated HTML styles */
div.document {
    margin: 0 100px;
}
div.document a {
    text-decoration: none;
}

h1 {
    font-size: large;
}


.tags-multiselect {
    height: 102px;
}

div.dative-field-input-container > div.ms-container
{
  height: inherit;
}

.ms-container
{
  width: 98.8%;
}

.ms-container .ms-selectable,
.ms-container .ms-selection {
    background: transparent;
}

.sf-menu a.sf-with-ul {
    padding-right: 12px;
}

#progress-widget-container,
#notifier-container
{
    position: relative;
}

.progress-widget,
.notifier
{
    position: absolute;
    top: 0;
    min-height: 40px;
    width: 100px;
    margin: 20px;
    z-index: 100;
}

.progress-widget
{
    left: 0;
    padding: 10px 10px 0px 10px;
}

.progress-widget-spinner
{
    height: 20px;
}

.notifier
{
    right: 0;
    padding: 20px;
}

.pulse1
{
    /*box-shadow: -1px -1px 5px rgba(50, 50, 50, 0.75);*/
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 1);
    transition: all 0.8s ease;
}
.pulse2
{
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 1);
    /*box-shadow: -1px -1px 13px rgba(50, 50, 50, 0.75);*/
}

.progress-widget-tasks
{
    margin-top: 10px;
}
.progress-widget-tasks ul li,
.notifier ul li
{
    margin-bottom: 10px;
}

.logged-in-username:hover,
.active-corpus-name:hover
{
    cursor: default;
}

.ui-buttonset .ui-button {
    margin-right: -4px;
}

.ui-button-text-only .ui-button-text,
.ui-button-text {
  padding: 0.5em;
}

.dative-authenticated span.ui-button-text,
.dative-help span.ui-button-text
{
    padding: 0;
}

.dative-authenticated span.ui-button-text i,
.dative-help span.ui-button-text i
{
  right: 0.1em;
  position: relative;
}

.dative-help span.ui-button-text i
{
  bottom: 0.05em;
}

.dative-authenticated span.ui-button-text i
{
  bottom: 0.02em;
}

.ui-dialog .ui-dialog-titlebar {
  line-height: normal;
}

form.registerForm input,
form.registerForm select{
  width: 230px;
}

div.servers-config-widget,
div.server-config-widget {
  margin-top: 20px;
  margin-bottom: 20px;
}
div.servers-config-widget,
div.corpus-widget,
div.create-corpus-widget {
  width: 600px;
}

div.corpus-widget,
div.create-corpus-widget
{
  margin-top: 10px;
  margin-bottom: 20px;
}

div.add-user-widget,
div.edit-corpus-widget,
div.users-widget
{
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.servers-config-widget > div.dative-widget-body,
div.users-widget div.dative-widget-body
{
  padding: 10px;
}

div.server-config-widget {
  width: 560px;
  /*width: 400px;*/
  margin-top: 20px;
  margin-bottom: 20px;
}

div.server-config-widget input,
div.add-user-widget input,
div.edit-corpus-widget textarea,
div.edit-corpus-widget input,
div.create-corpus-widget input
{
  max-width: 300px;
  min-width: 300px;
  width: 300px;
}

div.dative-register-dialog li.register-info span
{
  text-align: justify;
  text-justify: inter-word;
  line-height: 130%;
  margin-left: 130px;
  margin-top: 10px;
  display: inline-block;
  width: 240px;
  max-width: 240px;
  min-width: 240px;
}

div.dative-user-widget
{
  display: inline-block;
  margin: 10px;
}

div.dative-user-widget div.dative-widget-body img
{
  display: block;
  margin: auto;
}

div.dative-user-widget div.dative-widget-header div.dative-widget-header-title,
div.dative-add-user-widget div.dative-widget-header div.dative-widget-header-title,
div.users-widget > div.dative-widget-header > div.dative-widget-header-title
{
  position: static;
  margin: auto;
}

div.corpus-widget > div.dative-widget-header,
div.create-corpus-widget > div.dative-widget-header,
div.users-widget > div.dative-widget-header,
div.servers-config-widget > div.dative-widget-header,
div.server-config-widget > div.dative-widget-header
{
  position: relative;
}

div.add-user-widget > div.dative-widget-header,
div.edit-corpus-widget > div.dative-widget-header,
div.users-widget > div.dative-widget-header
{
  height: 12px;
}

div.corpus-widget > div.dative-widget-header > div.dative-widget-header-title,
div.create-corpus-widget > div.dative-widget-header > div.dative-widget-header-title,
div.users-widget > div.dative-widget-header > div.dative-widget-header-title,
div.add-user-widget > div.dative-widget-header > div.dative-widget-header-title,
div.edit-corpus-widget > div.dative-widget-header > div.dative-widget-header-title,
div.servers-config-widget > div.dative-widget-header > div.dative-widget-header-title,
div.server-config-widget > div.dative-widget-header > div.dative-widget-header-title,
div.add-form-widget > div.dative-widget-header > div.dative-widget-header-title,
div.update-form-widget > div.dative-widget-header > div.dative-widget-header-title,
div#dative-page-header > div.dative-page-header-title,
div#dative-page-header > div.dative-forms-view-header > div.dative-page-header-title,
div.container-center,
div.button-container-center
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

div.button-container-center
{
  width: 700px;
}

div.button-container-left
{
  /* See http://jsfiddle.net/khrfwjL0/2/ */
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  padding-left: 5px;
}

div.button-container-right
{
  /* See http://jsfiddle.net/khrfwjL0/2/ */
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  padding-right: 5px;
}

div.container-right
{
  position: absolute;
  right: 0;
  top: 20%;
  padding-right: 1em;
}

span.fixed-width
{
    display: inline-block;
    width: 1em;
}

ul.fieldset textarea,
ul.fieldset input[type="text"],
ul.fieldset input[type="password"],
ul.fieldset select[name="elicitation_method"],
ul.fieldset select[name="syntactic_category"],
ul.fieldset select[name="speaker"],
ul.fieldset select[name="elicitor"],
ul.fieldset select[name="verifier"],
ul.fieldset select[name="source"],
.dative-help-dialog input[type="text"],
div.dative-display
{
    border-style: solid;
    border-width: 1px;
    padding: 7px 10px 5px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 16px;
    min-height: 16px;
}

.help-search-container
{
  position: relative;
}

.help-search-container label[for=help-search]
{
  position: absolute;
  top: 0.75em;
  z-index: 99;
}

.help-search-container input[name=help-search]
{
  position: absolute;
  left: -0.6em;
  padding-left: 2em;
}

.help-search-spacer
{
  height: 3.5em;
}

.dative-help-dialog .help-content-container
{
  margin-right: -1em;
  padding-bottom: 5em;
  overflow: hidden;
  height: 85%;
  position: relative;
}

.dative-help-dialog .help-content
{
  margin-right: 1.5em;
  text-align: justify;
}

.dative-help-dialog .focused-help-match
{
  border-width: 4px;
}

.dative-help-dialog .help-content
{
  line-height: 125%;
}

.dative-help-dialog .help-content h1,
.dative-help-dialog .help-content h2,
.dative-help-dialog .help-content h3,
.dative-help-dialog .help-content h4,
.dative-help-dialog .help-content h5,
.dative-help-dialog .help-content p
{
  margin-top: 0.75em;
}

.dative-help-dialog .help-content h1
{
  font-size: 150%;
}

.dative-help-dialog .help-content h2
{
  font-size: 140%;
}

.dative-help-dialog .help-content h3
{
  font-size: 130%;
}

.dative-help-dialog .help-content h4
{
  font-size: 120%;
}

.dative-help-dialog .help-content h5
{
  font-size: 110%;
}

.dative-help-dialog .help-content ul,
.dative-help-dialog .help-content ol
{
  margin-top: 1em;
  margin-bottom: 1em;
}

.dative-help-dialog .help-content ul > li
{
  list-style: disc outside none;
  margin-left: 2em;
}

.dative-help-dialog .help-content ol > li
{
  list-style: decimal outside none;
  margin-left: 2em;
}

.dative-help-dialog .help-content strong
{
  font-weight: bold;
}

.watermark
{
  color: #999;
}


.header-no-body
{
    border-bottom: none;
}

ul.sf-menu li ul
{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Multi-select stuff; TODO: remove border-radius stuff? */
.ms-container .ms-list
{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 100px;
    background: white;
}

p.paragraph-widget
{
    margin: auto;
    width: 500px;
    padding: 10px;
}

/* Remove the ugly resizer in textareas (works only on Safari/Chrome)
 * See http://stackoverflow.com/questions/13126917/can-i-style-the-resize-grabber-of-textarea */
::-webkit-resizer
{
    display: none;
}

.form-igt-data,
.form-translations-data
{
    line-height: 130%;
}

.black-fa
{
  color: black;
}

div.add-form-widget
{
  width: 800px;
  margin-top: -2em;
  margin-bottom: 2em;
}

div.update-form-widget
{
  width: 90%;
  margin-top: 1em;
}

