body {
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    margin: 0;
}
div.mainmenu,
div#mainmenu {
    width: 100%;
    height: 26px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    top: 0;
    z-index: 100;
    white-space: nowrap;
}
#oldclientapp
{
}
#appview
{
    margin: 10px auto;
    width: 900px;
}
#old-page-body {
    margin: 10px;
    overflow-y: auto;
}
.ui-widget {
    font-size: 100%;
}

.old-authenticated {
    width: 16px;
    height: 16px;
    margin-top: 3px;
}
#old-page {
    margin: 40px auto 15px auto;
    width: 900px;
}
#old-page-header,
.old-widget-header {
    font-weight: normal;
    text-align: center;
    border: 0 none;
    border-bottom: solid 1px grey;
    padding: 5px 10px;
}

.old-widget-header button,
.old-widget-header select+div,
.old-page-header button,
.old-page-header select+div {
    margin: 1px;
}
.old-page-header-title {
}
.old-forms-actions {
    text-align: left;
    margin-top: 5px;
}
.old-form-object {
    font-size: inherit;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}
.old-form-object:hover {
    cursor: pointer;
}

.old-form-secondary-data {
    font-size: 11px;
    padding: 10px 0;
}
.old-form-buttons {
    margin-bottom: 10px;
}
.old-forms-view-one-interface .old-widget-body,
.old-forms-browse-interface .old-widget-body {
    position: relative;
    padding: 10px;
}
.old-form-secondary-data-label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
    vertical-align: top;
}
.old-form-secondary-data-content {
    display: inline-block;
    width: 500px;
}
.old-form-secondary-data > div {
    margin: 5px 0;
}
.old-pagin-items {
    padding: 0 40px 39px 40px;
}
.old-pagin-nav-bottom {
    position: absolute;
    bottom: 0;
    width: 880px;
    height: 39px;
}
.old-pagin-nav {
    text-align: center;
    margin-top: 5px;
}
.old-pagin-ipp {
    margin: 10px 0;
    text-align: center;
}
.old-pagin-item {
    font: inherit;
    color: inherit;
    padding: 10px 0;
}
.old-pagin-item-index {
    vertical-align: top;
    padding-right: 10px;
}
.old-pagin-item-content {
    width: 700px;
}
#spinner {
    position: fixed;
    top: 35px;
    left: 10px;
}
.template,
.invisible {
    display: none;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.old-val-err-widget {
    width: 16px;
    display: inline-block;
    cursor: pointer;
}
.old-explanation {
    max-width: 200px;
    overflow-y: auto;
    padding: 5px;
    z-index: 2000;
}
.old-login-dialog-widget .old-login-failed {
    padding: 5px;
}
div.heading {
}

/*** Form input styles ***/

ul.fieldset {
    margin: 0 auto;
    /*display: inline-block;*/
    list-style-type: none;
    padding: 15px;
    margin-top: 0;
    position: relative;
    font-size: 12px;
}
.formAddForm ul.fieldset {
    width: 868px;
}
ul.fieldset li {
    padding: 0 0 6px;
    position: relative;
}
ul.fieldset label {
    padding: 8px 3px 1px 0;
    text-align: right;
    vertical-align: top;
    font-size: 12px;
}
.formAdd ul.fieldset label {
    width: 150px;
}
.loginLogin ul.fieldset label {
    width: 61px;
}
.fieldset label,
.fieldset input[type="text"],
.fieldset input[type="password"],
.fieldset input[type="checkbox"],
.fieldset select.grammaticality,
.fieldset button,
.fieldset textarea {
    display: inline-block;
}
ul.fieldset textarea,
ul.fieldset input[type="text"],
ul.fieldset input[type="password"],
ul.fieldset select[name="elicitationMethod"],
ul.fieldset select[name="syntacticCategory"],
ul.fieldset select[name="speaker"],
ul.fieldset select[name="elicitor"],
ul.fieldset select[name="verifier"],
ul.fieldset select[name="source"] {
    border-style: solid;
    border-width: 1px;
    padding: 7px 10px 5px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 30px;
    min-height: 30px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}
ul.fieldset textarea,
ul.fieldset select[name="elicitationMethod"],
ul.fieldset select[name="syntacticCategory"],
ul.fieldset select[name="speaker"],
ul.fieldset select[name="elicitor"],
ul.fieldset select[name="verifier"],
ul.fieldset select[name="source"] {
    padding: 7px 10px 5px 10px;
}
ul.fieldset input[type="text"],
ul.fieldset input[type="password"] {
    margin-left: 0;     /*Chrome adds a 2px margin at left and right*/
    margin-right: 0;
    padding: 6px 10px 6px 10px;
}
ul.fieldset textarea {
    width: 550px;
    max-width: 550px;
    min-width: 550px;
}
ul.fieldset select[name="elicitationMethod"],
ul.fieldset select[name="syntacticCategory"],
ul.fieldset select[name="speaker"],
ul.fieldset select[name="elicitor"],
ul.fieldset select[name="verifier"],
ul.fieldset select[name="source"] {
    width: 548px;
    max-width: 548px;
    min-width: 548px;
}

ul.fieldset select[name="keywords"]+button {
    padding: 0px 0px 3px 9px;
}

ul.fieldset select+div, /* div siblings of selects are jquery.ui.selectmenu creatures */
.old-forms-browse-interface select+div,
button.insertGlossFieldButton,
button.removeMe,
input[type="submit"],
button {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    height: 29px;
}

li.center {
    text-align: center;
}

li.newGloss textarea,
li.newGloss button {
    margin-left: 4px;
}
li.newGloss div {
    margin-left: 3px;
}

div.ui-selectmenu-menu li a {
    min-height: 18px;
    font-size: 12px;
}

ul.fieldset textarea.transcription {
    width: 494px;
    max-width: 494px;
    min-width: 494px;
}
ul.fieldset textarea.gloss {
    width: 461px;
    max-width: 461px;
    min-width: 461px;
}

ul.fieldset select,
ul.fieldset input,
ul.fieldset textarea,
ul.fieldset button.ui-multiselect {
    font-family: inherit;
    font-size: 12px;
}

ul.fieldset a.grammaticality,
ul.fieldset a.ui-selectmenu,
ul.fieldset button.ui-multiselect {
    height: 29px;
    font-size: 13px;
}

button.ui-multiselect {
    position: relative;
    top: 1px;
}

.old-form-transcription {
    font-style: italic;
}

/* reStructuredText-generated HTML styles */
div.document {
    margin: 0 100px;
}
div.document a {
    text-decoration: none;
}

h1 {
    font-size: large;
}