body {
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    margin: 0;
    font-size: 12px;
}
div.mainmenu,
div#mainmenu {
    width: 100%;
    height: 26px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    top: 0;
    z-index: 100;
    white-space: nowrap;
    font-size: 15px;
}
#dative-client-app
{
}
#appview
{
    margin: 10px auto;
    width: 900px;
}
#dative-page-body {
    margin: 10px;
    overflow: hidden;
    position: relative;
}
.ui-widget {
    font-size: 100%;
}
.dative-authenticated {
    width: 16px;
    height: 16px;
    margin-top: 3px;
}
#dative-page {
    margin: 40px auto 15px auto;
    width: 900px;
}
#dative-page-header,
.dative-widget-header {
    font-weight: normal;
    text-align: center;
    border: 0 none;
    border-bottom: solid 1px grey;
    padding: 5px 10px;
    height: 31px;
    /* TEST */
    position: relative;
}

.dative-widget-header button,
.dative-widget-header select+div,
#dative-page-header button,
#dative-page-header select+div {
    margin: 1px;
}
.dative-page-header-title {
    font-size: 13px;
}
.dative-forms-actions {
    text-align: left;
    margin-top: 5px;
}
.dative-form-object,
.igt-form {
    font-size: inherit;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    position: relative;
    top: -11px;
    display: block;
}
.dative-form-object:hover,
.igt-form:hover {
    cursor: pointer;
}
ul.sf-menu li a
{
    cursor: default;
}

.dative-form-secondary-data ,
.form-secondary-data {
    font-size: 11px;
    padding: 10px 0;
}
.dative-form-buttons ,
.form-buttons {
    margin-bottom: 10px;
}
.dative-forms-view-one-interface .dative-widget-body,
.dative-forms-browse-interface .dative-widget-body {
    position: relative;
    padding: 10px;
}
.dative-form-secondary-data-label ,
.form-secondary-data-label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
    vertical-align: top;
}
.dative-form-secondary-data-content ,
.form-secondary-data-content {
    display: inline-block;
    width: 500px;
}
.dative-form-secondary-data > div ,
.form-secondary-data > div {
    margin: 5px 0;
}
.dative-pagin-items {
    padding: 0 40px 39px 40px;
}
.dative-pagin-nav-bottom {
    position: absolute;
    bottom: 0;
    width: 880px;
    height: 39px;
}
.dative-pagin-nav,
.dative-page-header-widgets,
.dative-widget-header-buttons
{
    text-align: center;
    margin-top: 5px;
    height: 31px;
}
div.dative-widget-header-title,
div.dative-page-header-title
{
    display: inline-block;
    position: absolute;
    top: 15px;
    /*width: 100px;*/
}
.dative-pagin-ipp {
    margin: 10px 0;
    text-align: center;
}
.dative-pagin-item {
    font: inherit;
    color: inherit;
    padding: 10px 0;
    margin: 12px;
}
.dative-pagin-item-index {
    vertical-align: top;
    padding-right: 10px;
}
.dative-pagin-item-content {
    width: 700px;
}
#spinner {
    position: fixed;
    top: 35px;
    left: 10px;
}
.template,
.invisible {
    display: none;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.dative-val-err-widget {
    width: 16px;
    display: inline-block;
    cursor: pointer;
}
.dative-explanation {
    max-width: 200px;
    overflow-y: auto;
    padding: 5px;
    z-index: 2000;
}
.dative-login-dialog-widget .dative-login-failed,
.dative-register-dialog-widget .dative-register-failed,
.dative-register-failed {
    padding: 5px;
}
.dative-login-dialog-widget,
.dative-register-dialog-widget,
#appview,
.progress-widget,
.notifier
{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
ul.sf-menu li ul
{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
div.heading {
}

div.dative-widget-center {
    margin: 0 auto;
}
span.dative-triangle-icon,
.dative-icon {
    position: absolute;
}

/*** Form input styles ***/

ul.fieldset {
    margin: 0 auto;
    /*display: inline-block;*/
    list-style-type: none;
    padding: 15px;
    margin-top: 0;
    position: relative;
    font-size: 12px;
}
.formAddForm ul.fieldset {
    width: 868px;
}
ul.fieldset li {
    padding: 0 0 6px;
    position: relative;
}
ul.fieldset label {
    padding: 8px 3px 1px 0;
    text-align: right;
    vertical-align: top;
    font-size: 12px;
}
.formAdd ul.fieldset label {
    width: 150px;
}
.applicationSettingsForm ul.fieldset label {
    width: 144px;
}
.server-config-widget ul.fieldset label {
    width: 75px;
}

.loginLogin ul.fieldset label,
.registerForm ul.fieldset label {
    /*width: 61px;*/
    width: 120px;
}
.fieldset label,
.fieldset input[type="text"],
.fieldset input[type="password"],
.fieldset input[type="checkbox"],
.fieldset select.grammaticality,
.fieldset button,
.fieldset textarea {
    display: inline-block;
}
.ui-selectmenu-button:focus,
.ui-button:focus,
.ms-list:focus,
input:focus,
textarea:focus {
    outline: none !important;
    box-shadow: 0 0 10px orange !important;
}

ul.fieldset textarea,
ul.fieldset input[type="text"],
ul.fieldset input[type="password"],
ul.fieldset select[name="elicitation_method"],
ul.fieldset select[name="syntactic_category"],
ul.fieldset select[name="speaker"],
ul.fieldset select[name="elicitor"],
ul.fieldset select[name="verifier"],
ul.fieldset select[name="source"],
div.dative-display {
    border-style: solid;
    border-width: 1px;
    padding: 7px 10px 5px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 16px;
    min-height: 16px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}
div.dative-display {
  display: inline-block;
}
ul.fieldset textarea,
ul.fieldset select[name="elicitation_method"],
ul.fieldset select[name="syntactic_category"],
ul.fieldset select[name="speaker"],
ul.fieldset select[name="elicitor"],
ul.fieldset select[name="verifier"],
ul.fieldset select[name="source"] {
    padding: 7px 10px 5px 10px;
}
ul.fieldset input[type="text"],
ul.fieldset input[type="password"] {
    margin-left: 0;     /*Chrome adds a 2px margin at left and right*/
    margin-right: 0;
    padding: 6px 10px 6px 10px;
}
ul.fieldset textarea,
div.applicationSettingsForm input,
div.dative-display {
    width: 526px;
    max-width: 526px;
    min-width: 526px;
}
ul.fieldset select[name="elicitation_method"],
ul.fieldset select[name="syntactic_category"],
ul.fieldset select[name="speaker"],
ul.fieldset select[name="elicitor"],
ul.fieldset select[name="verifier"],
ul.fieldset select[name="source"],
ul.fieldset select[name="corpus"],
ul.fieldset select[name="serverType"],
ul.fieldset select[name="activeServer"] {
    width: 548px;
    max-width: 548px;
    min-width: 548px;
}
ul.fieldset select[name="tags"]+button {
    padding: 0px 0px 3px 9px;
}

ul.fieldset select+div, /* div siblings of selects are jquery.ui.selectmenu creatures */
.dative-forms-browse-interface select+div,
button.insertTranslationFieldButton,
button.removeMe,
input[type="submit"],
button {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    height: 29px;
}

li.center {
    text-align: center;
}

li.newTranslation span.ui-selectmenu-button,
li.newTranslation textarea,
li.newTranslation button {
    margin-left: 3px;
}

span.ui-selectmenu-button {
    vertical-align: top;
    height: 28px;
}

li.newTranslation div {
    margin-left: 3px;
}

div.ui-selectmenu-menu li a {
    min-height: 18px;
    font-size: 12px;
}

ul.fieldset textarea.transcription {
    width: 473px;
    max-width: 473px;
    min-width: 473px;
}
ul.fieldset textarea.translation {
    width: 441px;
    max-width: 441px;
    min-width: 441px;
}

ul.fieldset select,
ul.fieldset input,
ul.fieldset textarea,
ul.fieldset button.ui-multiselect {
    font-family: inherit;
    font-size: 12px;
}

ul.fieldset a.grammaticality,
ul.fieldset a.ui-selectmenu,
ul.fieldset button.ui-multiselect {
    height: 29px;
    font-size: 13px;
}

button.ui-multiselect {
    position: relative;
    top: 1px;
}

.dative-form-transcription ,
.form-primary-data .transcription {
    font-style: italic;
}

/* reStructuredText-generated HTML styles */
div.document {
    margin: 0 100px;
}
div.document a {
    text-decoration: none;
}

h1 {
    font-size: large;
}


.tags-multiselect {
    height: 102px;
}

.ms-container {
    width: 548px;
}

.ms-container .ms-selectable,
.ms-container .ms-selection {
    background: transparent;
}

.ms-container .ms-list{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  height: 100px;
  background: white;
}

.sf-menu a.sf-with-ul {
    padding-right: 12px;
}

#progress-widget-container,
#notifier-container
{
    position: relative;
}
.progress-widget,
.notifier
{
    position: absolute;
    top: 0;
    min-height: 40px;
    width: 100px;
    margin: 20px;
    padding: 20px;
}
.progress-widget
{
    left: 0;
}

.notifier
{
    right: 0;
}

.pulse1
{
    /*box-shadow: -1px -1px 5px rgba(50, 50, 50, 0.75);*/
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 1);
    transition: all 0.8s ease;
}
.pulse2
{
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 1);
    /*box-shadow: -1px -1px 13px rgba(50, 50, 50, 0.75);*/
}

.progress-widget-tasks
{
    margin-top: 80px;
}
.progress-widget-tasks ul li,
.notifier ul li
{
    margin-bottom: 10px;
}

.loggedInUsername
{
    vertical-align: bottom;
}
.ui-buttonset .ui-button {
    margin-right: -4px;
}

.ui-dialog .ui-dialog-titlebar {
  line-height: normal;
}

form.registerForm input,
form.registerForm select{
  width: 230px;
}

div.servers-config-widget,
div.server-config-widget {
  margin-top: 20px;
  margin-bottom: 20px;
}
div.servers-config-widget {
  width: 600px;
}
div.server-config-widget {
  width: 560px;
  /*width: 400px;*/
  margin-top: 20px;
  margin-bottom: 20px;
}

div.server-config-widget input {
  max-width: 300px;
  min-width: 300px;
  width: 300px;
}

