@font-face
{
    font-family: GentiumPlus;
    src: url(./fonts/GentiumPlus-R.woff);
}

@font-face
{
    font-family: GentiumPlus;
    font-style: italic;
    src: url(./fonts/GentiumPlus-I.woff);
}

body
{
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    margin: 0;
    font-size: 12px;
}

div.mainmenu,
div#mainmenu
{
    width: 100%;
    height: 24px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    top: 0;
    z-index: 100;
    white-space: nowrap;
    font-size: 15px;
    position: relative;
}

#dative-client-app
{
}

#appview
{
    margin: 10px auto;
    width: 900px;
}

#dative-page-body
{
    margin-top: 1em;
    margin-bottom: 1em;
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
    position: relative;
    width: 100%
}

.ui-widget {
    font-size: 100%;
}

.dative-help,
.dative-authenticated
{
    width: 16px;
    height: 16px;
    margin-top: 3px;
    bottom: 0.25em;
}

button.help-button
{
    width: 20px;
    height: 20px;
}

#dative-page {
    margin: 40px auto 15px auto;
    width: 900px;
}

#dative-page-header,
#dative-page-header.dative-two-part-header > div.dative-forms-view-header,
#dative-page-header.dative-two-part-header > div.dative-two-part-header-part-one,
.dative-widget-header {
    font-weight: normal;
    text-align: center;
    border: 0 none;
    border-bottom: solid 1px grey;
    padding: 5px 10px;
    height: 31px;
    /* TEST */
    position: relative;
}

#dative-page-header.dative-two-part-header > div.dative-forms-view-header,
#dative-page-header.dative-two-part-header > div.dative-two-part-header-part-one
{
    border-bottom: none;
}

#dative-page-header.dative-two-part-header
{
    height: 75px;
    padding: 0;
}

.dative-pagination-menu-top
{
  width: 900px;
  position: absolute;
  left: 0%;
  bottom: 25%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  padding-left: 0px 5px;
}

.dative-widget-header button,
.dative-widget-header select+div,
#dative-page-header button,
#dative-page-header select+div {
    margin: 1px;
}

.dative-page-header-title {
    /*font-size: 13px;*/
    font-size: 125%;
}

.dative-forms-actions {
    text-align: left;
    margin-top: 5px;
}

/* DELETE THIS */
.dative-form-widget-
{
    font-size: inherit;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    position: relative;
    top: -11px;
    display: block;
}

.form-secondary-data div.dative-tooltip,
.form-secondary-data span.dative-tooltip,
.form-igt-data div.dative-tooltip,
.form-igt-data span.dative-tooltip,
.form-translations-data div.dative-tooltip,
.form-translations-data span.dative-tooltip,
.dative-field-label.dative-tooltip,
.header-title-content,
.select-for-import,
.deselect-for-import,
.fa-dative-checkbox
{
    cursor: pointer;
}

.dative-field-label-container,
.dative-field-display-label-container
{
  display: inline-block;
  width: 25%;
  vertical-align: top;
  text-align: right;
  margin-right: 0.75em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.6;
}

td.dative-field-label-cell
{
  text-align: right;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.6;
}

.dative-field-label-container.top,
.dative-field-display-label-container.top
{
  display: block !important;
}

.dative-field-label-container.top label,
.dative-field-display-label-container.top label
{
  text-align: left;
  margin-bottom: 0.5em;
}

.dative-form-object .parser-task-set-container .dative-field-display-label-container
{
  width: 60%;
}

.dative-form-object .parser-task-set-container .dative-field-display-representation-container
{
  width: 35%;
}

.dative-form-object .dative-field-display-label-container
{
  width: 30%;
}

.dative-field-input-container,
.dative-field-display-representation-container,
.dative-field-display-label-container,
.dative-pagin-item-index-cell,
div.resource-as-row-cell.text
{
  font-family: 'GentiumPlus', serif;
}

.dative-field-display-representation-container,
.dative-field-display-label-container,
.dative-pagin-item-index-cell,
.dative-alert-text
{
  font-size: 130%;
}
.dative-alert-prompt
{
 width: 80%;
}

.update-form-widget .dative-field-label-container,
.update-widget .dative-field-label-container
{
  width: 25%;
}

.dative-field-subinput-container
{
  display: inline-block;
  width: 100%;
  margin-bottom: 0.4em;
}

.dative-field-display-representation-container
{
  /*overflow-x: scroll;*/
}

.dative-field-display-representation-container,
.dative-field-input-container
{
  display: inline-block;
  width: 70%;
}

.dative-pagin-item .dative-form-object .dative-field-input-container 
{
    max-width: 394.7px;
}


.update-widget .dative-field-input-container.full-width,
.dative-field-input-container.full-width,
.dative-field-display-representation-container.full-width
{
  display: block;
  width: 96%;
  margin: 0.5em auto;
}

.dative-field-display-representation-container.script
{
  border: solid 1px;
  border-radius: 4px;
}

.update-widget .dative-field-input-container.full-width textarea,
.dative-field-input-container.full-width textarea
{
  overflow: scroll;
}

.dative-form-object .dative-field-display-representation-container
{
  width: 65%;
}

.dative-field-display-representation-container.no-label
{
  width: 95%;
}

.update-form-widget .dative-field-input-container,
.update-widget .dative-field-input-container
{
  display: inline-block;
  width: 70%;
}

.form-secondary-data-content .form-fielddb-comment:not(:first-child)
{
  margin-top: 0.5em;
}

ul.sf-menu li a
{
    cursor: default;
}

.dative-form-secondary-data ,
.form-secondary-data {
    font-size: 11px;
    padding: 10px 0;
}

.server-settings-interface > .dative-widget-body,
.dative-form-object > .dative-widget-body,
.dative-paginated-item > .dative-widget-body,
.dative-new-item > .dative-widget-body
{
    padding: 1em;
}

.dative-form-object
{
    border-width: 1px;
    border-style: solid;
}

.dative-forms-view-one-interface .dative-widget-body,
.dative-forms-browse-interface .dative-widget-body {
    position: relative;
    padding: 10px;
}
.dative-form-secondary-data-label,
.form-secondary-data-label,
.form-igt-data-label,
.form-translations-data-label,
.form-translation-data-label
{
    display: inline-block;
    width: 35%;
    text-align: right;
    margin-right: 10px;
    vertical-align: top;
}

.dative-form-secondary-data-content,
.form-secondary-data-content,
.form-igt-data-content,
.form-translations-data-content,
.form-translation-data-content
{
    display: inline-block;
    width: 60%;
    font-family: 'GentiumPlus', serif;
}

.form-field-display
{
    padding: 0.1em 0;
    line-height: 120%;
}

.dative-form-secondary-data-content.no-label,
.form-secondary-data-content.no-label,
.form-igt-data-content.no-label,
.form-translations-data-content.no-label,
.form-translation-data-content.no-label
{
    width: 95%;
}

.dative-pagin-items
{
    padding: 0 40px 39px 40px;
}

.dative-pagin-nav-bottom
{
    position: absolute;
    bottom: 0;
    width: 880px;
    height: 39px;
}

.dative-pagin-nav,
.dative-page-header-widgets,
.dative-widget-header-buttons
{
    text-align: center;
    margin-top: 5px;
    height: 31px;
}

div.dative-widget-header-title,
div.dative-page-header-title
{
    display: inline-block;
    position: absolute;
}

.dative-pagin-ipp
{
    margin: 10px 0;
    text-align: center;
}

.dative-pagin-item
{
    font: inherit;
    color: inherit;
    padding: 10px 0;
    margin: 12px;
}

.dative-paginated-item,
.dative-new-item,
.resource-search-view,
.resources-import-view
{
  margin-top: 1em;
  margin-bottom: 1em;
  width: 90%;
}

.dative-resource-displayer-dialog .dative-paginated-item
{
  width: 96%;
}

.ui-dialog.dative-resource-displayer-dialog-widget .ui-dialog-content
{
  padding: 0.5em 0.5em;
}

.resource-displayer-content
{
  overflow-x: scroll;
  width: 60em;
}

.dative-pagin-item-index
{
    vertical-align: top;
    padding-right: 10px;
}

.dative-pagin-item-index-cell
{
    min-width: 5em;
    vertical-align: top;
    padding-top: 1.15em;
}

.dative-pagin-item-content
{
    width: 700px;
}

#spinner
{
    position: fixed;
    top: 35px;
    left: 10px;
}

.template,
.invisible
{
    display: none;
}

.float-right
{
    float: right;
}

.float-left
{
    float: left;
}

.dative-val-err-widget
{
    width: 16px;
    display: inline-block;
    cursor: pointer;
}

.dative-explanation
{
    max-width: 200px;
    overflow-y: auto;
    padding: 5px;
    z-index: 2000;
}

.dative-add-user-failed-container,
.dative-create-corpus-failed-container,
.dative-validation-container
{
    position: absolute;
}

.dative-add-user-failed,
.dative-create-corpus-failed
{
    position: relative;
    z-index: 100;
    display: inline-block;
    max-width: 200px;
}

.dative-add-user-failed,
.dative-create-corpus-failed
{
    top: -26px;
    left: 411px;
}

.dative-add-user-failed,
.dative-create-corpus-failed,
.dative-login-dialog-widget .dative-login-failed,
.dative-register-dialog-widget .dative-register-validation,
.dative-register-validation {
    padding: 5px;
}

.dative-login-dialog-widget,
.dative-register-dialog-widget,
.dative-help-dialog-widget,
.dative-alert-dialog-widget,
.dative-exporter-dialog-widget,
#appview,
.progress-widget,
.notification,
.corpus-widget,
.create-corpus-widget,
.users-widget,
.dative-user-widget,
.dative-add-user-widget,
.servers-config-widget,
.server-config-widget,
.add-user-widget,
.edit-corpus-widget,
.add-form-widget,
.update-form-widget,
.dative-shadowed-widget,
.dative-form-object.expanded,
.big-button
{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.dative-form-object.expanded:focus,
.dative-shadowed-widget.expanded:focus,
.dative-shadowed-widget.jquery-theme-image-container:focus,
.select-for-import:focus,
.deselect-for-import:focus,
.fa-dative-checkbox:focus
{
    /*outline: none !important;*/
    /*box-shadow: 0 0 10px orange !important;*/
    box-shadow: 5px 5px 10px rgba(255, 165, 0, 0.5) !important;
    -webkit-box-shadow: 5px 5px 10px rgba(255, 165, 0, 0.5) !important;
    -moz-box-shadow: 5px 5px 10px rgba(255, 165, 0, 0.5) !important;
}

div.heading {
}

div.dative-widget-center {
    margin-right: auto;
    margin-left: auto;
}
span.dative-triangle-icon,
.dative-icon {
    position: absolute;
}

/*** Form input styles ***/

ul.fieldset,
div.collection-contents-preview .form-container ul.fieldset,
div.dative-field-display-representation-container.html-snippet .form-container ul.fieldset,
div.dative-field-display-representation-container.html-snippet .file-container ul.fieldset
{
    margin: 0 auto;
    list-style-type: none;
    padding: 15px;
    margin-top: 0;
    position: relative;
    font-size: 12px;
}

div.dative-field-display-representation-container.html-snippet .form-container ul.fieldset > li,
div.collection-contents-preview .form-container ul.fieldset > li,
div.dative-field-display-representation-container.html-snippet .file-container ul.fieldset > li
{
    list-style-type: none;
}

ul.fieldset.button-only-fieldset
{
    margin-top: -1em;
    padding-top: 0;
    padding-bottom: 5px;
}

.formAddForm ul.fieldset {
    width: 868px;
}

ul.fieldset li {
    padding: 0 0 6px;
    position: relative;
}

ul.fieldset label {
    padding: 8px 3px 1px 0;
    text-align: right;
    vertical-align: top;
    font-size: 12px;
}

div.form-add-form ul.fieldset label,
div.linguistic-data-entry-form ul.fieldset label,
.formAdd ul.fieldset label
{
    min-width: 90%;
    max-width: 90%;
    width: 90%;
    padding-right: 2%;
    float: right;
    text-align: right;
    margin-top: 0.25em;
}

.applicationSettingsForm ul.fieldset label {
    width: 144px;
}
.server-config-widget ul.fieldset label {
    width: 75px;
}

.create-corpus-widget ul.fieldset label,
.add-user-widget ul.fieldset label,
.edit-corpus-widget ul.fieldset label
{
    width: 80px;
}

.dative-login-dialog ul.fieldset label
{
    width: 6em;
}

.dative-login-dialog ul.fieldset input
{
    width: 15em;
}

.registerForm ul.fieldset label
{
    width: 10em;
}

.fieldset label,
.fieldset input[type="text"],
.fieldset input[type="password"],
.fieldset input[type="checkbox"],
.fieldset select.grammaticality,
.fieldset input.judgement,
.fieldset button,
.fieldset textarea
{
    display: inline-block;
}

.fieldset select.grammaticality,
.fieldset input.judgement
{
  width: 5%;
}

.fieldset input.judgement
{
  vertical-align: top;
}


.dative-form-object:not(.expanded):focus,
.ui-selectmenu-button:focus,
.ui-button:focus,
.ms-list:focus,
input:not(.ui-autocomplete-input):focus,
div.big-button:focus,
textarea:focus
{
    outline: none !important;
    box-shadow: 0 0 10px orange !important;
}

div.dative-display {
  display: inline-block;
}
ul.fieldset textarea,
ul.fieldset select[name="elicitation_method"],
ul.fieldset select[name="syntactic_category"],
ul.fieldset select[name="speaker"],
ul.fieldset select[name="elicitor"],
ul.fieldset select[name="verifier"],
ul.fieldset select[name="source"] {
    padding: 7px 10px 5px 10px;
}
ul.fieldset input[type="text"],
ul.fieldset input[type="password"] {
    margin-left: 0;     /*Chrome adds a 2px margin at left and right*/
    margin-right: 0;
    padding: 6px 10px 6px 10px;
}

/*ul.fieldset textarea,*/
div.applicationSettingsForm input,
div.dative-display
{
    width: 526px;
    max-width: 526px;
    min-width: 526px;
}

ul.fieldset textarea.textarea-only,
textarea.textarea-only,
input.input-only
{
  width: 94.1%;
  max-width: 94.1%;
  min-width: 94.1%;
}


ul.fieldset textarea.textarea-select-button,
textarea.textarea-select-button
{
  width: 73.5%;
  /* max-width: 73.5%;
  min-width: 73.5%; */
}

ul.fieldset textarea.textarea-button,
textarea.textarea-button
{
  width: 86%;
}

ul.fieldset textarea.textarea-select,
textarea.textarea-select
{
  width: 81%;
  max-width: 82%;
  /* min-width: 85%; */
}

ul.fieldset textarea.textarea-input,
textarea.textarea-input
{
  width: 82.5%;
}

ul.fieldset input.judgement,
input.judgement
{
  width: 5%;
}

ul.fieldset label.dative-field-label,
label.dative-field-label
{
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  /* opacity: 0.6; */
}

ul.fieldset.importer-fieldset label.dative-field-label
{
  width: 75%;
  max-width: 75%;
  min-width: 75%;
}

ul.fieldset select[name="elicitation_method"],
ul.fieldset select[name="syntactic_category"],
ul.fieldset select[name="speaker"],
ul.fieldset select[name="elicitor"],
ul.fieldset select[name="verifier"],
ul.fieldset select[name="source"],
ul.fieldset select[name="corpus"],
ul.fieldset select[name="serverType"],
ul.fieldset select[name="activeServer"] {
    width: 548px;
    max-width: 548px;
    min-width: 548px;
}
ul.fieldset select[name="tags"]+button {
    padding: 0px 0px 3px 9px;
}

ul.fieldset select+div, /* div siblings of selects are jquery.ui.selectmenu creatures */
.dative-forms-browse-interface select+div,
button.append-translation-field,
button.remove-translation-field,
button.removeMe,
button.new-remove,
input[type="submit"],
button {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    height: 29px;
}

button.new-remove
{
  margin-top: 0.4em;
}

li.center {
    text-align: center;
}

li.newTranslation span.ui-selectmenu-button,
li.newTranslation textarea,
li.newTranslation button {
    margin-left: 3px;
}

li.newTranslation div {
    margin-left: 3px;
}

div.ui-selectmenu-menu li a {
    min-height: 18px;
    font-size: 12px;
}

ul.fieldset textarea.utterance,
ul.fieldset textarea.transcription
{
  /*
    width: 473px;
    max-width: 473px;
    min-width: 473px;
    */
}

ul.fieldset textarea.translation:not(.singular-translation)
{
  /*
    width: 441px;
    max-width: 441px;
    min-width: 441px;
    */
}

ul.fieldset select,
ul.fieldset input,
ul.fieldset textarea,
ul.fieldset button.ui-multiselect
{
    font-family: inherit;
    font-size: 12px;
}

ul.fieldset a.grammaticality,
ul.fieldset a.ui-selectmenu,
ul.fieldset button.ui-multiselect
{
    height: 29px;
    font-size: 13px;
}

button.ui-multiselect {
    position: relative;
    top: 1px;
}

.form-primary-data,
.form-secondary-data
{
  margin: 0.5em;
}

.dative-form-transcription,
.form-primary-data .transcription,
.italic {
    font-style: italic;
}

/* reStructuredText-generated HTML styles */
div.document {
  /*margin: 0 100px;*/
}

div.html-snippet div.html div.document a:not(.morpheme-link)
{
  text-decoration: underline;
}

div.document a,
a.undecorated-link
{
    text-decoration: none;
}

h1 {
    font-size: large;
}


.tags-multiselect {
    height: 102px;
}

div.dative-field-input-container > div.ms-container
{
  height: inherit;
}

.ms-container
{
  width: 98.8%;
}

.ms-container .ms-selectable,
.ms-container .ms-selection {
    background: transparent;
}

.sf-menu a.sf-with-ul {
    padding-right: 12px;
}

#progress-widget-container,
#notifier
{
    position: relative;
}

div.notifier-container,
div.notifier
{
    height: 0px;
    width: 0px;
}

.notifications-container
{
    position: absolute;
    top: 3em;
    right: 0.5em;
    width: 20em;
    z-index: 999;
}

.progress-widget
{
    position: absolute;
    top: 3em;
    z-index: 100;
}

.notification
{
    margin-bottom: 1em;
    padding: 0.5em;
    width: 18em;
}

.notification-title
{
    font-size: 110%;
    margin-bottom: 0.25em;
    line-height: 120%;
}

.notification-content
{
    font-weight: normal;
    line-height: 120%;
}

.progress-widget
{
    min-height: 40px;
    margin: 20px;
    left: 0;
    padding: 10px 10px 0px 10px;
    width: 100px;
}

.progress-widget-spinner
{
    height: 20px;
}

.pulse1
{
    /*box-shadow: -1px -1px 5px rgba(50, 50, 50, 0.75);*/
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 1);
    transition: all 0.8s ease;
}
.pulse2
{
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 1);
    /*box-shadow: -1px -1px 13px rgba(50, 50, 50, 0.75);*/
}

.progress-widget-tasks
{
    margin-top: 10px;
}
.progress-widget-tasks ul li
{
    margin-bottom: 10px;
}

.logged-in-username:hover,
.active-corpus-name:hover
{
    cursor: default;
}

.ui-buttonset .ui-button {
    margin-right: -4px;
}

.ui-button-text-only .ui-button-text,
.ui-button-text {
  padding: 0.5em;
}

.dative-authenticated span.ui-button-text,
.dative-help span.ui-button-text
{
    padding: 0;
}

.dative-authenticated span.ui-button-text i,
.dative-help span.ui-button-text i
{
  right: 0.1em;
  position: relative;
}

.dative-help span.ui-button-text i
{
  bottom: 0.05em;
}

.dative-authenticated span.ui-button-text i
{
  bottom: 0.02em;
}

.ui-dialog .ui-dialog-titlebar {
  line-height: normal;
}

form.registerForm input,
form.registerForm select{
  width: 230px;
}

div.servers-config-widget,
div.server-config-widget {
  margin-top: 20px;
  margin-bottom: 20px;
}
div.servers-config-widget,
div.corpus-widget,
div.create-corpus-widget {
  width: 600px;
}

div.corpus-widget,
div.create-corpus-widget
{
  margin-top: 10px;
  margin-bottom: 20px;
}

div.add-user-widget,
div.edit-corpus-widget,
div.users-widget
{
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.servers-config-widget > div.dative-widget-body,
div.users-widget div.dative-widget-body
{
  padding: 10px;
}

div.server-config-widget {
  width: 560px;
  /*width: 400px;*/
  margin-top: 20px;
  margin-bottom: 20px;
}

div.server-config-widget input,
div.add-user-widget input,
div.edit-corpus-widget textarea,
div.edit-corpus-widget input,
div.create-corpus-widget input
{
  max-width: 300px;
  min-width: 300px;
  width: 300px;
}

div.dative-register-dialog li.register-info span
{
  text-align: justify;
  text-justify: inter-word;
  line-height: 130%;
  margin-left: 130px;
  margin-top: 10px;
  display: inline-block;
  width: 240px;
  max-width: 240px;
  min-width: 240px;
}

div.dative-user-widget
{
  display: inline-block;
  margin: 10px;
}

div.dative-user-widget div.dative-widget-body img
{
  display: block;
  margin: auto;
}

div.dative-user-widget div.dative-widget-header div.dative-widget-header-title,
div.dative-add-user-widget div.dative-widget-header div.dative-widget-header-title,
div.users-widget > div.dative-widget-header > div.dative-widget-header-title
{
  position: static;
  margin: auto;
}

div.corpus-widget > div.dative-widget-header,
div.create-corpus-widget > div.dative-widget-header,
div.users-widget > div.dative-widget-header,
div.servers-config-widget > div.dative-widget-header,
div.server-config-widget > div.dative-widget-header
{
  position: relative;
}

div.add-user-widget > div.dative-widget-header,
div.edit-corpus-widget > div.dative-widget-header,
div.users-widget > div.dative-widget-header
{
  height: 12px;
}

div.corpus-widget > div.dative-widget-header > div.dative-widget-header-title,
div.create-corpus-widget > div.dative-widget-header > div.dative-widget-header-title,
div.users-widget > div.dative-widget-header > div.dative-widget-header-title,
div.add-user-widget > div.dative-widget-header > div.dative-widget-header-title,
div.edit-corpus-widget > div.dative-widget-header > div.dative-widget-header-title,
div.servers-config-widget > div.dative-widget-header > div.dative-widget-header-title,
div.server-config-widget > div.dative-widget-header > div.dative-widget-header-title,
div.add-form-widget > div.dative-widget-header > div.dative-widget-header-title,
div.dative-form-object > div.dative-widget-header > div.dative-widget-header-title,
div.update-form-widget > div.dative-widget-header > div.dative-widget-header-title,
div#dative-page-header > div.dative-page-header-title,
div#dative-page-header > div.dative-forms-view-header > div.dative-page-header-title,
div.container-center,
div.button-container-center
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

div.container-center-left
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
  -webkit-transform: translate(-80%, -50%);
  width: 40%;
  max-width: 40%;
  overflow-x: scroll;
  white-space: nowrap;
}

div.button-container-center
{
  width: 700px;
}

div.button-container-left
{
  /* See http://jsfiddle.net/khrfwjL0/2/ */
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  padding-left: 5px;
}

div.button-container-right
{
  /* See http://jsfiddle.net/khrfwjL0/2/ */
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  padding-right: 5px;
}

div.container-right
{
  position: absolute;
  right: 0;
  top: 20%;
  padding-right: 1em;
}

span.fixed-width
{
    display: inline-block;
    width: 1em;
}

ul.fieldset textarea,
ul.fieldset input[type="text"],
ul.fieldset input[type="password"],
ul.fieldset select[name="elicitation_method"],
ul.fieldset select[name="syntactic_category"],
ul.fieldset select[name="speaker"],
ul.fieldset select[name="elicitor"],
ul.fieldset select[name="verifier"],
ul.fieldset select[name="source"],
.dative-help-dialog input[type="text"],
textarea.control-input,
div.dative-display
{
    border-style: solid;
    border-width: 1px;
    padding: 7px 10px 5px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 16px;
    min-height: 16px;
}

.help-search-container
{
  position: relative;
}

.help-search-container label[for=help-search]
{
  position: absolute;
  top: 0.75em;
  z-index: 99;
}

.help-search-container input[name=help-search]
{
  position: absolute;
  left: -0.6em;
  padding-left: 2em;
}

.help-search-spacer
{
  height: 3.5em;
}

.dative-help-dialog .help-content-container
{
  margin-right: -2em;
  padding-bottom: 5em;
  overflow: scroll;
  height: 85%;
  position: relative;
}

.dative-help-dialog .help-content
{
  margin-right: 1.5em;
  font-size: 120%;
  text-align: justify;
}

.dative-exporter-dialog .dative-exporter-dialog-content-container,
.exporter-export-content-pre-container
{
  overflow: scroll;
}

.exporter-export-content-pre-container
{
  max-height: 20em;
}

.exporter-export-content-container
{
  margin-top: 1em;
}

.dative-exporter-dialog .dative-exporter-dialog-content,
.exporter-export-content
{
  font-size: 120%;
}

.exporter-export-content
{
  padding: 1em;
}

.dative-exporter-dialog .dative-exporter-dialog-content pre,
.exporter-export-content pre
{
  line-height: 120%;
}

.dative-help-dialog .focused-help-match
{
  border-width: 4px;
}

.dative-help-dialog .help-content,
.dative-alert-text
{
  line-height: 125%;
}

.dative-help-dialog pre
{
  font-family: monospace;
  margin: 2em;
}

.dative-help-dialog .help-content h1,
.dative-help-dialog .help-content h2,
.dative-help-dialog .help-content h3,
.dative-help-dialog .help-content h4,
.dative-help-dialog .help-content h5,
.dative-help-dialog .help-content p,
.html-snippet h1,
.html-snippet h2,
.html-snippet h3,
.html-snippet h4,
.html-snippet h5,
.html-snippet p
{
  margin-top: 0.75em;
}

.homepage
{
  margin: 1em auto;
  width: 80%;
}

.dative-help-dialog .help-content h1,
.html-snippet h1
{
  font-size: 150%;
}

.dative-help-dialog .help-content h2,
.html-snippet h2
{
  font-size: 140%;
}

.dative-help-dialog .help-content h3,
.html-snippet h3
{
  font-size: 130%;
}

.dative-help-dialog .help-content h4,
.html-snippet h4
{
  font-size: 120%;
}

.dative-help-dialog .help-content h5,
.html-snippet h5
{
  font-size: 110%;
}

.dative-help-dialog .help-content ul,
.html-snippet ul,
.dative-help-dialog .help-content ol,
.html-snippet ol
{
  margin-top: 1em;
  margin-bottom: 1em;
}

.dative-help-dialog .help-content ul > li,
.html-snippet ul > li
{
  list-style: disc outside none;
  margin-left: 2em;
}

.dative-help-dialog .help-content ol > li,
.html-snippet ol > li
{
  list-style: decimal outside none;
  margin-left: 2em;
}

.html-snippet em
{
  font-style: italic;
}

.dative-help-dialog .help-content strong,
.html-snippet strong,
.parser-settings span.bold
{
  font-weight: bold;
}

.dative-help-dialog .help-content em
{
  font-style: italic;
}

.watermark
{
  color: #999;
}


.header-no-body
{
    border-bottom: none;
}

ul.sf-menu li ul
{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Multi-select stuff; TODO: remove border-radius stuff? */
.ms-container .ms-list
{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 100px;
    background: white;
}

p.paragraph-widget
{
    margin: auto;
    width: 500px;
    padding: 10px;
}

/* Remove the ugly resizer in textareas (works only on Safari/Chrome)
 * See http://stackoverflow.com/questions/13126917/can-i-style-the-resize-grabber-of-textarea */
::-webkit-resizer
{
    display: none;
}

.form-igt-data,
.form-translations-data
{
    line-height: 130%;
}

div.form-igt-data div,
div.form-translations-data div,
div.form-secondary-data div,
span.dative-pagin-item-index,
p.paragraph-widget,
.large-unicode-font *,
div.dative-field-display-representation-container.html-snippet .form-container .large-unicode-font *,
div.collection-contents-preview .form-container .large-unicode-font *,
div.dative-field-display-representation-container.html-snippet .file-container .large-unicode-font *
{
  font-size: 14pt;
  font-family: 'GentiumPlus', serif;
}

div.dative-field-display-representation-container.html-snippet .form-container *,
div.collection-contents-preview .form-container *,
div.dative-field-display-representation-container.html-snippet .file-container *
{
  font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
}

button.ui-widget,
button.ui-widget *
{
  font-size: 12px;
}

.fa
{
  font-family: FontAwesome !important;
}

div.dative-field-display
{
  line-height: 1.2em;
}

p.paragraph-widget
{
  font-size: 14pt;
}

.ui-tooltip
{
  line-height: 1.5em;
  font-size: 110%;
  max-width: 15%;
}

.form-add-form ul.fieldset textarea,
.form-add-form ul.fieldset input,
.form-add-form ul.fieldset .ui-selectmenu-button,
.form-add-form ul.fieldset .ms-container,
.form-add-form ul.fieldset label,
.linguistic-data-entry-form ul.fieldset textarea,
.linguistic-data-entry-form ul.fieldset input,
.linguistic-data-entry-form ul.fieldset .ui-selectmenu-button,
.linguistic-data-entry-form ul.fieldset label,
div.dative-field-display-representation-container.html-snippet .form-container .linguistic-data-entry-form ul.fieldset textarea,
div.dative-field-display-representation-container.html-snippet .form-container .linguistic-data-entry-form ul.fieldset input,
div.dative-field-display-representation-container.html-snippet .form-container .linguistic-data-entry-form ul.fieldset .ui-selectmenu-button,
div.dative-field-display-representation-container.html-snippet .form-container .linguistic-data-entry-form ul.fieldset label,
div.collection-contents-preview .form-container .linguistic-data-entry-form ul.fieldset textarea,
div.collection-contents-preview .form-container .linguistic-data-entry-form ul.fieldset input,
div.collection-contents-preview .form-container .linguistic-data-entry-form ul.fieldset .ui-selectmenu-button,
div.collection-contents-preview .form-container .linguistic-data-entry-form ul.fieldset label,
div.dative-field-display-representation-container.html-snippet .file-container .linguistic-data-entry-form ul.fieldset textarea,
div.dative-field-display-representation-container.html-snippet .file-container .linguistic-data-entry-form ul.fieldset input,
div.dative-field-display-representation-container.html-snippet .file-container .linguistic-data-entry-form ul.fieldset .ui-selectmenu-button,
div.dative-field-display-representation-container.html-snippet .file-container .linguistic-data-entry-form ul.fieldset label,
textarea.control-input,
.dative-exporter-dialog-container,
.suggestions
{
  font-size: 12pt;
  font-family: 'GentiumPlus', serif;
}

.form-add-form ul.fieldset textarea,
.form-add-form ul.fieldset input,
.linguistic-data-entry-form ul.fieldset textarea,
.linguistic-data-entry-form ul.fieldset input,
textarea.control-input
{
  min-height: 1.5em;
}

.form-add-form ul.fieldset span.ui-selectmenu-button,
.linguistic-data-entry-form ul.fieldset span.ui-selectmenu-button
{
  height: 2.25em;
  vertical-align: top;
}

span.ui-selectmenu-button {
    vertical-align: top;
    height: 28px;
}

/*
.igt-form .dative-widget-body
{
  font-size: 12pt;
  font-family: 'GentiumPlus', serif;
}
*/

span.dative-pagin-item-index
{
  /*font-size: 150%;*/
  position: relative;
  top: 0.5em;
}

.black-fa
{
  color: black;
}

div.add-form-widget,
div.new-form-view
{
  width: 800px;
  margin-bottom: 2em;
}

div.update-form-widget,
div.dative-paginated-item .dative-widget-center,
div.dative-new-item .dative-widget-center
{
  width: 98%;
  margin-top: 1em;
  margin-bottom: 0.75em;
}

.update-resource-widget
{
  margin-bottom: 3em !important;
}

div.dative-paginated-item .dative-widget-header-title,
div.dative-new-item .dative-widget-header-title
{
  /*font-size: 115%;*/
  font-size: 125%;
}

.small-caps
{
  font-variant: small-caps;
}

.dative-field-validation-container
{
  margin-top: 0.2em;
  width: 69.2%;
  margin-left: 26.7%;
}

.dative-field-validation-error
{
  padding: 0.5em;
}

div.script
{
  white-space: pre;
  overflow-x: scroll;
  max-height: 40em;
  min-height: 25em;
  height: 25em;
  padding: 0.2em;
  font-family: monospace;
  font-size: 10.5pt;
}

textarea.script,
.resource-add-form ul.fieldset textarea.script
{
  white-space: nowrap;
  overflow-x: scroll;

  font-size: 9.5pt;
  font-family: monospace;
  min-width: 95%;
  max-width: 95%;
}

.diffed
{
  padding: 0.1em;
}

div.igt-word
{
  display: inline-block;
}

div.igt-word,
td.igt-word-cell
{
  white-space: nowrap;
}

table.igt-table tr td
{
  padding-bottom: 0.25em;
}

button.align-top
{
  vertical-align: top;
}

.control-input
{
  width: 80%;
  max-width: 80%;
  min-width: 80%;
}

.get-probabilities-control-input.control-input
{
  width: 70%;
  max-width: 70%;
  min-width: 70%;
}

i.boolean-icon
{
  font-family: FontAwesome;
}

i.boolean-icon.false,
.ui-state-error-color
{
  color: red;
}

i.boolean-icon.true,
div.import-no-errors,
div.import-no-warnings,
.ui-state-ok
{
  color: green;
}

.io-results-table
{
  margin: 0.5em 2em 2em 2em;
}

.io-results-table td,
.io-results-table th
{
  padding: 0.25em;
  font-size: 12pt;
  text-align: left;
}

.io-results-table th
{
  font-weight: bold;
  max-width: 23%;
  min-width: 23%;
  width: 23%;
}

.io-results-table tr.even td
{
  background-color: white;
}

.nowrap
{
  white-space: nowrap;
}

ul.fieldset .script-textarea,
.script-textarea
{
  height: 25em;
  min-height: 25em;
  max-height: 40em;
  white-space: normal;
}

.run-tests-results
{
  display: block;
  max-width: 100%;
  max-height: 300px;
  overflow: scroll;
  margin: 0.5em auto;
  border: 1px solid;
  border-radius: 4px;
}

.run-tests-summary
{
  display: inline-block;
  font-size: 12pt;
}

.button-control-button
{
  vertical-align: top;
}

.button-control-summary
{
  display: inline-block;
  max-width: 80%;
  font-size: 12pt;
  overflow-x: scroll;
  margin-top: 0.25em;
}

.button-control-results
{
  display: inline-block;
}

.serve-compiled-anchor
{
  position: relative;
  top: 0.75em;
}

span.match
{
  font-weight: bold;
}

.dative-field-display div.search
{
  white-space: pre;
  overflow-x: scroll;
}

.dative-field-input-container div.search
{
  overflow: scroll;
  min-width: 100%;
  max-width: 100%;
  max-height: 40em;
  padding-bottom: 3em;
}

div.search table td
{
  padding: 0.5em 0 0.5em 0.5em;
}

td.middle-cell
{
  vertical-align: middle;
}

div.scoped-cell,
.filter-expression-operand-array
{
  border-left: 2px solid black;
  border-radius: 15px;
}

.filter-expression-operand:not(.filter-expression-operand-array)
{
  display: flex;
  align-items: center;
}

.filter-expression-operand span.ui-selectmenu-button
{
  margin-right: 0.5em;
}

div.filter-expression-operator,
.filter-expression-operand,
div.filter-expression
{
  white-space: nowrap;
}

div.operand select,
div.operand textarea,
.filter-expression-operand select,
.filter-expression-operand textarea
{
  vertical-align: middle;
}

div.filter-expression-action-widget-container
{
  position: relative;
}

div.filter-expression-action-widget
{
  position: absolute;
  white-space: nowrap;
  z-index: 999;
  padding: 0.25em;
  border: 1px solid;
}

table.filter-expression-table
{
  /*border: 1px solid green;*/
}

button.make-not-not i
{
  text-decoration: line-through;
}

.dative-field-input-container .search select,
.dative-field-input-container .search .ui-selectmenu-button,
.dative-field-input-container .search .ui-selectmenu-menu,
.dative-field-input-container .search .ui-menu-item
{
  font-size: 12pt;
}

.pagination-info
{
  line-height: 1.25em;
}

.browse-set
{
  padding: 0 0 0 0.25em;
  font-weight: bold;
}

.field-display-link
{
  cursor: pointer;
  text-decoration: none;
}

.dialog-header-button
{
  width: 1.65em;
  height: 1.65em;
  float: right;
  margin-right: 1.2em;
  /*position: relative;
  left: 2.75em;*/
}

.dative-resource-displayer-dialog-widget.ui-dialog .ui-dialog-title,
.dative-help-dialog-widget.ui-dialog .ui-dialog-title
{
  width: auto !important;
}

.dative-tasks-dialog
{
  /*font-size: 12pt;*/
}

.dative-tasks-dialog h2
{
  font-size: 120%;
}

div.dative-tasks-content
{
  overflow-x: scroll;
}

.dative-tasks-content .current-tasks,
.dative-tasks-content .terminated-tasks
{
  margin-top: 1em;
}

table.tasks-table
{
  min-width: 50em;
}

div.tasks-table
{
  margin-top: 0.5em;
}

table.tasks-table th
{
  white-space: nowrap;
  font-weight: bold;
}

table.tasks-table td,
table.tasks-table th
{
  padding: 0.25em 2em 0.25em 0.25em;
  text-align: left;
}

.current-tasks .live-task
{
  position: relative;
  /*padding-left: 2em;*/
  width: 1em;
  height: 2em;
}

.current-tasks .live-task-container
{
  width: 2em;
}

img.file-data-image,
video.file-data-video
{
  max-width: 100%;
  width: 100%;
  margin-bottom: -2px;
}

object.file-data-pdf
{
  width: 100%;
  height: 100%;
}

audio.file-data-audio
{
  width: 100%;
}

.file-data-no-display
{
  padding: 1em;
  font-size: 12pt;
}

.file-upload-container
{
  display: inline-block;
  width: 79.7%;
}

.file-upload-progress-bar
{
  display: inline-block;
  width: 60%;
  position: relative;
  top: 0.75em;
}

.file-upload-status
{
  display: inline-block;
  font-size: 12pt;
  position: relative;
  top: 0.15em;
}

.parser-task-set-container .resource-select-via-search-input-input
{
  max-width: 50% !important;
  width: 50% !important;
}

.update .resource-select-via-search-input-input
{
  /* width: 78%; */
  max-width: 66%;
  width: 66%;
}

.resource-select-via-search-input-input
{
  /*width: 83.7%;*/
  width: 73.5%;
  max-width: 73.5%;
  padding-left: 1.75em !important;
}

.ui-dialog-content .resource-select-via-search-input-input
{
  width: 69.5%;
  max-width: 69.5%;
}

i.search-term-icon
{
  position: absolute;
  display: block;
  top: 0.75em;
  left: 0.6em;
  font-size: 12pt;
}

.resource-select-via-search-input-button
{
  position: relative;
  bottom: 0.4em;
}

div.resource-results-via-search-table-wrapper,
div.selected-resource-display-container
{
  /* border-width: 1px;
  border-style: solid; */
  width: 98%;
  max-width: 98%;
  min-width: 98%;
  margin-top: 0.5em;
}

div.resource-results-via-search-table
{
  max-height: 10em;
  /*font-size: 12pt;*/
  overflow-x: scroll;
  margin: 0.5em 0 0.5em 0.5em;
  width: 95%;
  max-width: 95%;
  min-width: 95%;
}

div.resource-as-row-row,
div.resource-as-row-header-row
{
  display: inline-block;
  white-space: nowrap;
}

div.resource-as-row-cell,
div.resource-as-row-header-cell
{
  display: inline-block;
  width: 7em;
  white-space: nowrap;
  overflow-x: scroll;
  /* overflow: hidden;
  text-overflow: ellipsis; */
  line-height: 1.5em;
  margin-right: 0.75em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  vertical-align: middle;
}

div.resource-as-row-cell.resource-as-row-attr-size,
div.resource-as-row-header-cell.resource-as-row-attr-size
{
  width: 5em;
}

div.resource-as-row-cell.resource-as-row-attr-filename,
div.resource-as-row-header-cell.resource-as-row-attr-filename,
div.resource-as-row-cell.resource-as-row-attr-forms,
div.resource-as-row-cell.resource-as-row-attr-tags
{
  width: 12em;
  text-overflow: clip;
  overflow-x: scroll;
}

div.resource-as-row-cell.resource-as-row-attr-id,
div.resource-as-row-header-cell.resource-as-row-attr-id
{
  width: 3.5em;
}

div.resource-as-row-cell.controls-header
{
  width: 100px;
}

div.resource-as-row-cell.text
{
  font-size: 12pt;
  line-height: 1.75em;
}

div.resource-as-row-cell.header
{
  font-weight: bold;
}

div.resource-select-via-search-input-container
{
  position: relative;
  max-width: 100%;
}

span.current-time-seconds
{
  width: 7em;
  display: inline-block;
  text-align: right;
}

.resource-results-via-search-table-wrapper .results-count
{
  padding-left: 1em;
}

.resource-results-via-search-table-wrapper .results-showing-count
{
  padding-right: 1em;
}

.resource-icon i
{
  margin-right: 0.25em;
}

.resource-sub-icon-
{
  margin-left: 0.25em;
}

.dative-form-field .tagit-choice
{
  padding: 0.5em 18px 0.5em 0.5em !important;
  font-size: 120%;
}

.dative-form-field ul.tagit
{
  max-width: 94.4%;
  padding-left: 10px;
  padding-right: 10px;
  background: white;
}

.dative-form-field ul.tagit input.ui-autocomplete-input
{
  background: white;
  color: initial;
}

.selected-resource-container
{
  display: inline-block;
  width: 86%;
  max-width: 86%;
  min-width: 86%;
}

.selected-resource-container .field-display-link
{
  position: relative;
  top: 0.1em;
}

.selected-resource-controls
{
  display: inline-block;
  width: 12%;
  max-width: 12%;
  min-width: 12%;
  vertical-align: top;
}

.resource-secondary-data
{
  margin-top: 1em;
}

a.morpheme-link
{
  text-decoration: none;
}

a.morpheme-link-partial-match
{
  color: green !important;
}

a.morpheme-link-perfect-match
{
  color: blue !important;
}

.dative-state-highlight
{
  /* border: solid 1px red !important; */
  /* background-color: #FFFF00; */
  background-color: rgba(255, 255, 0, 0.6);
}

.smart-search-input
{
  font-size: 200% !important;
  width: 80%;
  max-width: 80%;
  margin: 1em auto;
  display: block;
  height: 1.5em;
  min-height: 1.5em;
  padding: 0.25em 0.25em 0.25em 0.25em;
  font-family: 'GentiumPlus', serif !important;
}

.smart-search-preview-container
{
  margin: 0em auto 3em auto;
  width: 80%;
}

.smart-query-preview-data *
{
  vertical-align: top;
  margin-bottom: 1em;
}

.smart-query-preview-match-count,
.smart-query-preview-description,
.smart-query-preview-buttons
{
  display: inline-block;
  padding: 0.25em;
}

.smart-query-preview-match-count,
.smart-query-preview-description
{
  font-size: 14pt;
  font-family: 'GentiumPlus', serif;
}

.smart-query-preview-match-count
{
  width: 20%;
  position: relative;
}

.smart-query-preview-description
{
  width: 45%;
  line-height: 125%;
}

.smart-query-preview-buttons
{
  width: 25%;
}

.exporter
{
  margin: 2em auto;
  width: 90%;
}

.exporter-controls,
.exporter-export-controls
{
  display: inline-block;
  width: 23%;
  vertical-align: top;
  text-align: right;
}

.exporter-meta,
.exporter-export-content-pre-container
{
  width: 75%;
  max-width: 75%;
  display: inline-block;
}

.exporter-description,
.exporter-export-content
{
  margin: 0.5em 0 0 1em;
  line-height: 1.5em;
}

.exporter-export-content
{
  line-height: 2em;
}

a.export-link
{
  line-height: 2em;
}

div.application-settings-big-buttons,
div.application-settings-interfaces .servers-interface,
div.application-settings-interfaces .appearance-interface
{
  margin: 1em;
  text-align: center;
}

div.big-button
{
  cursor: pointer;
  padding: 2em;
  margin: 1em;
  width: 15em;
  height: 8em;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
}

div.big-button-icon
{
  text-align: center;
  margin-top: 2em;
}

div.big-button-text
{
  text-align: center;
  font-size: 150%;
}

.jquery-theme-image-container
{
  cursor: pointer;
  display: inline-block;
  margin: 1em;
  padding: 0.25em;
  border-width: 1px;
  border-style: solid;
}

.jquery-theme-name
{
  margin-bottom: 0.5em;
  font-size: 125%;
}

.servers-interface label[for=activeServer]
{
  position: relative;
  top: 0.75em;
  margin-right: 1em;
}

.server-settings-interface
{
  width: 90%;
}

.attribute-visibility-container,
.sticky-attributes-container
{
  margin: 3em;
}

.sticky-attributes-container i.stickiness-checkbox
{
  cursor: pointer;
}

.attribute-visibility-container .attribute-visibility,
.sticky-attributes-container .attribute-stickiness
{
  vertical-align: top;
}

.attribute-visibility-container .attribute-name,
.sticky-attributes-container .attribute-name
{
  width: 75%;
  margin-left: 1em;
}

.attribute-visibility-container .attribute-visibility,
.sticky-attributes-container .attribute-stickiness
{
  width: 20%;
}

.attribute-visibility-container .attribute-name,
.attribute-visibility-container .attribute-visibility,
.sticky-attributes-container .attribute-name,
.sticky-attributes-container .attribute-stickiness
{
  display: inline-block;
}

.attribute-visibility-container .hidden,
.sticky-attributes-container .hidden
{
  opacity: 0.4;
}

.attribute-visibility-container .attribute-name span,
.sticky-attributes-container .attribute-name span
{
  position: relative;
  top: 0.25em;
}

.attribute-visibilities-attributes,
.sticky-attributes-attributes,
.parser-settings
{
  max-height: 20em;
  overflow-y: scroll;
  margin-top: 0.5em;
}

.attribute-visibilities p
{
  margin: 0.5em 0;
}

.settings-container p
{
  /*display: inline-block;*/
  display: inline;
}

.settings-container h1
{
  margin-bottom: 0.3em;
}

.parser-settings span.ui-selectmenu-button
{
  vertical-align: middle;
}

div.parser-task-container
{
  margin: 1em 0.5em;
}

.search-results-resource-name-truncated
{
  white-space: nowrap;
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.suggestions
{
  width: 60.1%;
  margin-left: 34.5%;
  background-color: white;
  position: relative;
  top: -7px;
  border: 1px solid;
  max-height: 5em;
  overflow-y: scroll;
}

.suggestion-button-container
{
  position: relative;
}

.suggestions .suggestion
{
  padding: 0.25em 0.5em;
}

.suggestions .suggestion:hover,
.suggestions .suggestion:focus
{
  cursor: pointer;
}

button.toggle-suggestions
{
  position: absolute;
  top: 4px;
}

.add button.toggle-suggestions
{
  right: 15px;
}

.update button.toggle-suggestions
{
  right: 1px;
}

.dative-field-representation-container.html-snippet *,
div.collection-contents-preview *
{
  font-size: inherit;
  font-family: inherit;
}

div.import-preview-table,
div.html-content-field
{
  margin: 1em;
  height: 500px;
  overflow: scroll;
}

div.import-preview-table-wrapper,
div.general-errors-list-wrapper,
div.general-warnings-list-wrapper,
div.html-content-field-wrapper,
div.collection-contents-preview-wrapper,
div.exporter-export-content-pre-container,
.attribute-visibilities-attributes,
.sticky-attributes-attributes,
.parser-settings
{
  border: 1px solid;
  box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.6);
}

div.import-preview-table-row
{
  white-space: nowrap;
  display: inline-block;
  border: 1px solid;
  margin-top: -1px;
  padding-bottom: -10px;
}

div.import-preview-table-row.import-preview-table-header-row
{
  margin-top: 0px;
}

div.import-preview-table-header-cell button,
div.import-preview-table-header-cell .ui-selectmenu-button
{
  position: relative;
  top: 3px;
}

div.import-preview-table-header-cell
{
  vertical-align: top;
  padding: 5px;
}

div.import-preview-table-cell
{
  vertical-align: middle;
  padding: 5px;
}

div.import-preview-table-row-under
{
  border-top: 1px solid;
  padding-left: 8em;
}

div.import-preview-table-cell,
div.import-preview-table-header-cell
{
  border-left: 1px solid;
  min-height: 36px;
  max-height: 36px;
  margin: 0px 0px -1px -1px;
  text-align: left;
  display: inline-block;
  overflow: hidden;
}

div.import-controls-container,
div.warnings-container,
div.errors-container
{
  /*padding: 5px;*/
  margin: 5px 0;
}

button.import-preview-row-button
{
  /* position: relative;
  top: -0.4em;
  margin-left: 0.25em; */
}

i.column-alert
{
  position: relative;
  top: 0.6em;
  margin: 0.25em;
  padding: 0.25em;
}

.import-preview-controls-cell,
.form-for-import-select-cell
{
  width: 240px;
  max-width: 240px;
  min-width: 240px;
}

div.import-warning,
div.import-error
{
  margin: 0.5em;
}

h1.warnings-header,
h1.no-warnings-header,
h1.errors-header,
h1.no-errors-header
{
}

div.import-warning,
div.import-error,
h1.warnings-header,
h1.no-warnings-header,
h1.errors-header,
h1.no-errors-header
{
  padding: 0.25em;
  display: inline-block;
}

div.import-warning,
div.import-error
{
  margin-left: 2em;
}

.import-file-meta
{
  font-size: 12pt;
  position: relative;
  top: 0.15em;
  margin-left: 0.5em;
}

.deselect-for-import,
.select-for-import,
.fa-dative-checkbox
{
  position: relative;
  top: 4px;
}

.csv-value-cell.ui-state-highlight
{
  margin-right: -4px;
  margin-top: -1px;
}

.csv-value-cell
{
  font-size: 12pt;
  position: relative;
}

.csv-value-cell-text
{
  line-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.csv-value-cell-text:focus
{
  text-overflow: clip;
}

.csv-value-cell-text[contenteditable=true]
{
  position: absolute;
  top: -5px;
  left: -5px;
  width: 300px;
  height: 150px;
  overflow-y: scroll;
  text-overflow: initial;
  background-color: rgb(255, 255, 255);
  white-space: initial;
  opacity: 1;
  z-index: 999;
  padding: 0.5em;
  border-width: 1px;
  border-style: solid;
}

.cell-focused
{
  border: 2px double black !important;
  margin-bottom: 0px !important;
  margin-right: -3px !important;
  min-height: 31px !important;
  max-height: 31px !important;
  height: 31px !important;
}

.import-spinner-container
{
  font-size: 12pt;
  top: 0.1em;
  right: 0.25em;
  position: relative;
}

div.index-cell
{
  font-size: 12pt;
  width: 5em !important;
  min-width: 5em !important;
  max-width: 5em !important;
  line-height: 36px;
  text-align: right;
}

ul.general-warnings-list,
ul.general-errors-list
{
  margin: 0.25em 1em 0 1em;
  max-height: 10em;
  overflow-y: scroll;
}

.import-preview-table-row-display-container
{
  width: 630px;
  white-space: initial;
}

button.toggle-errors,
button.toggle-warnings,
button.fix-all-warnings
{
  position: relative;
  top: -3px;
}

div.csv-row-spinner
{
  display: inline-block;
  position: relative;
  min-width: 2em;
  height: 1.5em;
}

div.import-report-container
{
  padding: 0.5em;
}

div.import-report-count
{
  display: inline-block;
  margin-right: 1em;
}

div.import-options-container
{
  padding: 1em;
}

div.import-options-container li
{
  margin: 1em;
}

input[name=translation_delimiter]
{
  width: 1em;
  border: 1px solid;
  line-height: 1.5em;
  padding-left: 0.5em;
}

.collection-contents-preview-container
{
  display: relative;
}

.collection-contents-preview-wrapper
{
  width: 97.5%;
  margin-top: 0.25em;
}

.collection-contents-preview
{
  height: 16.5em;
  padding: 7px 10px 5px 10px;
  font-size: 16px;
  overflow: scroll;
  /*line-height: normal;*/
  white-space: pre-wrap;
}

div.c-contents-buttons
{
  display: inline-block;
  position: absolute;
  top: 0.4em;
  left: 15em;
}

div.collection-contents-preview div.form-container
{
  white-space: normal;
  margin-top: 0;
  margin-bottom: -1em;
}

div.collection-contents-preview div.form-container .resource-secondary-data label,
div.collection-contents-preview div.form-container .resource-primary-data label
{
  padding: 0 !important;
  margin: 0 !important;
}

div.collection-contents-preview div.form-container > i
{
  margin-left: 0.25em;
}

