language: node_js

node_js:
  - 0.10

# Travis supports running a real browser (Firefox) with a virtual screen. Just update your .travis.yml to set up the virtual screen like this:
# before_script:
#   - export DISPLAY=:99.0
#   - sh -e /etc/init.d/xvfb start

# whitelist
#branches:
#  only:
#    - tests

notifications:
  email:
    recipients:
      - lingsync-support@googlegroups.com
    on_success: change
    on_failure: always

env:
  matrix:
    # see set_up_new_machine.sh

before_install:
  # Download and configure deps
  - echo Y | sudo apt-get install ncftpput
  - npm install -g grunt-cli
  - npm install -g bower
  - npm install -g jasmine-node
  - npm install
  - bower install
before_script:
  # Make sure the emulator has started before running tests

script: grunt deploy

env:
  global:
    - secure: "idG10uJCHMoQLlySdGjCq+F/UUvCPs6f/gqR8srtIAb7oxdZ25P/jU7yESi+rDwZh9GcB7hNwM2MlonoGZKXlkTGxnSt8e9OMQ2PJuchUspZp5Dt62Ubc+CXo/cwiV4kUP9AqPWqQX45sZu5AxbiP2awdKPSmY+cC8409ml/ozI="
    - secure: "ULfKxRZxlujo9Dvsj7RLkMrymO2Cw7bm5FpWBqcDGewYOkSyiitqxSc3kolU8kAzgOhjJaplPmGLCi79WRc1aDDLUGyWCMaSzGQYenlj7pYJTsCh7Ql3ByjpZ3R7UYS3whs954+1VhNd40UObnQ3V/dB1SbgCjUVspll4VLUfJU="
    - secure: "PQZA5cLfK1kVAC/rg6AKysw6PqtDImQ28xWdKMU1ZAQAI2jy9LtUUCwU+fvAIT4VK0ceI1TQLX9ERRndSfsHe4iA4TUfKRo1Gt1YehHs89c5dWrogFNL1IMqMdNbjaHenddzBxgY3mhT+CjlhaSzSA79hcPEivtlt/n+/SMOgfU="

after_success:
    - echo $TRAVIS_BRANCH
    - "ncftpput -R -v -u $USERNAME -p $PASSWORD $SERVER_PATH dist /beta" || echo " ncftpput failed" &&  exit 4
